.rules{
    margin-bottom: 1rem;
}
.rules .rule-list{
    margin-bottom: .8rem;
    margin-left: 2rem;
    list-style-type: circle;
}

.rule-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}