/*---font for small text---*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400:500;600;700&display=swap");
/*--- font for headings---*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
 
/*--component library CDN ---*/
@import url("https://binary-ui.netlify.app/components/CDN.css");

 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --heading-font: "Poppins", sans-serif;
  --small-text: "Open Sans", sans-serif;
  --headings-color: #333333;
  --text-color: #353535f3;
  --background-color: #e1dfdf;
  --text-white: #eceaea;
  --primary-color: #0e72c9;
  --primary-hover: #0662b3;
  --footer-background: #00000015;
  --box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
  --smooth-shadow: 0.9px 2.8px 4.2px #00000067, 2.2px 6.7px 5.3px #0000005d,
    4.1px 12.5px 10px #00000009, 7.4px 22.3px 17.9px #0000000b,
    13.8px 41.8px 33.4px #0000000d, 33px 100px 80px #00000012;
  --border-color: #0000001f;
  --user-name-color: #353535a4;
  --correct-ans: #0e800e;
  --wrong-ans: #e23e3e;
  --white-color: #fff;
}


.margin-r{
  margin-right: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-family: var(--heading-font);
}

li {
  list-style: none;
}

p,
li,
a,
span,
button, .paragraph {
  font-family: var(--small-text);
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 67%;
}

body {
  background-color: var(--background-color);
}

.logo {
  font-size: 1.5rem;
}

.logo a {
  color: var(--primary-color);
}

.btn {
  border-radius: 2rem;
  font-size: 1.4rem;
}
.user-name {
  font-size: 1.5rem;
  margin-right: 0.8rem;
  font-weight: 600;
  color: var(--user-name-color);
  text-transform: lowercase;
}


.section-title{
  margin-bottom: 1rem;
}

.main-bar {
  margin-left: 28rem;
}

.navigation {
  align-items: center;
  justify-content: flex-end;
  min-height: 6rem;
  border: 0;
  background-color: var(--white-color);
}